# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
wc-tool 
wc

# Test binary, built with `go test -c`
*.test

.vscode

# Log files
*.log

# Directories used by tools like godep
Godeps/

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.s

# Folders
_obj
_test